html, body {
    margin: 0; /* Removes any default margins */
    height: 100%; /* Ensures both html and body take up the full viewport height */
}


body {
    background-image: url(aBG.jpg);
    background-size: cover;
    margin: 0;
    height: 50hv;
    background-repeat: no-repeat;
}

.center-container {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */
  }
  
  /* Button styles */
  .center-button {
    background:none;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 50px;
    font-size: 50px;
    font-family: "Kirang Haerang", system-ui;
    font-weight: 400;
    font-style: normal;
    transition: background-color .3s;
  }
  
.center-button:hover{
  background-color: rgba(0, 0, 0, 0.472);
  border-radius: 40px;
}

